      <!-- Page Heading -->
      <h1 class="my-4">Room List
        <small>Try Chatting!</small>
      </h1>

      <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item" *ngFor="let room of roomList">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a [routerLink]="['chatting', room.id]">{{room.title}}</a>
              </h4>
              <p class="card-text">{{room.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->